/* Table.css */

.custom-table-wrapper {
    width: 100%;
    overflow-x: auto;
  }
  
  .custom-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .custom-table th {
    position: relative;
    cursor: pointer;
    user-select: none;
  }
  
  .custom-table th .resizer {
    position: absolute;
    right: -2px;
    top: 0;
    height: 100%;
    width: 4px;
    cursor: col-resize;
    background-color: transparent;
  }
  
  .custom-table th .resizer.isResizing {
    background-color: #007bff;
  }
  
  .table-action {
    /* display: flex; */
    /* align-items: center; */
    /* gap: 8px; */
    /* justify-content: center; */
  }
  
  .icon {
    font-size: 18px;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .editIcon {
    color: #ffc107;
  }
  
  .editIcon:hover {
    color: #e0a800;
  }
  
  .deleteIcon {
    color: #dc3545;
  }
  
  .deleteIcon:hover {
    color: #c82333;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    width: 100%;
    position: relative;
  }
  
  .modal-content .close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  